body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f6f9;
}

.layout {
    display: flex;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e272e;
    color: white;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.conteudo {
    flex: 1;
    padding: 30px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}