body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* MENU LATERAL */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #2c3e50;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #34495e;
}

/* CONTEÚDO */
.content {
    margin-left: 200px;
    padding: 20px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2c3e50;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}