{% extends "base.html" %}

{% block conteudo %}

<h2>Vendas</h2>

<form method="POST">
    <select name="produto_id">
        {% for p in produtos %}
        <option value="{{ p[0] }}">{{ p[1] }}</option>
        {% endfor %}
    </select>

    <input name="quantidade" type="number" placeholder="Qtd">
    <button>Vender</button>
</form>

<table border="1">
<tr><th>ID</th><th>Produto</th><th>Qtd</th><th>Valor</th></tr>

{% for v in vendas %}
<tr>
<td>{{ v[0] }}</td>
<td>{{ v[1] }}</td>
<td>{{ v[2] }}</td>
<td>{{ v[3] }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}